<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<staticContent>
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
        </staticContent>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="ntuorientation@gmail.com">
                <specifiedPickupDirectory pickupDirectoryLocation="D:\www\NTUOC\mail" />
                <network defaultCredentials="false" host="" port="80" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
